.carousel-principal {
    height: 681px;    
}

.linha{
    display: flex;
    flex-direction: row-reverse ;
    flex-wrap: wrap;
}

.textos {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
    gap: 26px;
    margin-bottom: 170px;
    right:90px;
}

.texto1 {
    color: #F6AA1C;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 900; 
    letter-spacing: 0.75px; 
    text-align: left;
}
  
.texto2 {
    color: #1F1F1F;
    width: 510px;
    height: 132px;
    font-weight: 800;
    font-size: 60px;
    line-height: 70px;
    font-family: 'Inter', sans-serif;
    letter-spacing: 1px;
    text-align: left;
}
  
.texto3 {
    color: #474747;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.75px;
    text-align: left;
    margin:1px;    
}

.buttonofertas {
    height: 48px;
    width: 220px;
    border: 0;
    border-radius: 8px;
    background-color: #c92071;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.75px;
    text-align: center;
    color: #f5f5f5;
    cursor: pointer;

}

.wrapper-button1 {
    text-align: left;
}

.nike {
    margin-left: 600px;
}

.circle {
    position: absolute;
    margin-top: 78px;
    margin-right: 37px;
    width: 120px;
    height: 120px;
} 

.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 10px!important;
    height: 10px!important;
    padding: 0;
    margin-right: 5px!important;
    margin-left: 5px!important;
    text-indent: -999px;
    cursor: pointer;
    background-color:#c92071!important;
    background-clip: padding-box;
    border: 0;
    border-radius: 50%;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}

.carousel-control-prev{
    pointer-events: none!important;
}
.carousel-control-prev-icon{
    display: none!important;
}

.carousel-control-next{
    pointer-events: none!important;
}
.carousel-control-next-icon{
    display: none!important;
}