.wrapper {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.icon {
    font-size: 50px;
    padding: 4px;
    position: absolute;
    box-sizing: border-box;
    top: 34px;
    right: 2px;
    transform: translateY(-50%);
    /* border: 1px solid black; */

}

.input {
    top: 34px;
    border-radius: 8px;
    height: 60px;
    padding-left: 1.5rem;
    width: 559px;
    left: 384px;
    /* transition-duration: 2s; */
    border: none;
    background-color: #474747;
    opacity: 4%;
}

/* .input-expanded {
    width: 100%;
} */