.wrapper {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.icon {
    height: 1.5rem;
    width: 1.5rem;
    padding: 4px;
    position: absolute;
    box-sizing: border-box;
    top: 50%;
    right: 2px;
    transform: translateY(-50%);
}

.input {
    border-radius: 25px;
    height: 50px;
    box-sizing: border-box;
    padding-left: 1.5rem;
    width: 50%;
    transition-duration: 2s;
}

.input-expanded {
    width: 100%;
}