.P {
    position: absolute;
    width: 283px;
    height: 38px;
    left: 579px;
    top: 1322px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.75px;
    color: #474747;
}