.r1{
    position: absolute;
width: 1440px;
height: 553px;
left: 0px;
top: 2737px;

}
.imagem{
    position: absolute;
width: 573px;
height: 330px;
left: 52px;
top: 2852px;

background: url(tenis.png);
}

.imagem2{
    position: absolute;
    width: 466px;
    height: 466px;
    left: 129px;
    left: 129px;
    
    background: linear-gradient(180deg, rgba(66, 0, 255, 0.25) -40.67%, rgba(255, 255, 255, 0) 100%);
}
.r2{
    position: absolute;
width: 116px;
height: 22px;
left: 692px;
top: 2843px;
display: flex;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 22px;

letter-spacing: 0.75px;

color: #C92071;
}

.r27{
    position: absolute;
width: 514px;
height: 100px;
left: 692px;
top: 2882px;


font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 50px;

letter-spacing: 1px;

color: #474747;
} 
.r271{
    position: absolute;
width: 589px;
height: 112px;
left: 692px;
top: 3002px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;

letter-spacing: 0.75px;

color: #474747;
}
.r273{position: absolute;
    left: 691px;
    right: 0%;
    top: 3110px;
    bottom: 0%;
    
    
}

/* .r273{
    position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 22px;

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.75px;

color: #F5F5F5;

} */