*{
    position: absolute;
width: 573px;
height: 330px;
left: 52px;
top: 2852px;

background: url(tenis.png);
}

*{
    position: absolute;
width: 466px;
height: 466px;
left: 129px;
top: 2824px;

background: linear-gradient(180deg, rgba(66, 0, 255, 0.25) -40.67%, rgba(255, 255, 255, 0) 100%);
}
*{
    position: absolute;
width: 116px;
height: 22px;
left: 692px;
top: 2843px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 22px;

letter-spacing: 0.75px;

color: #C92071;
}
*{
    position: absolute;
width: 514px;
height: 100px;
left: 692px;
top: 2882px;

/* H2 Title - Desktop Bold */

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 50px;
/* or 104% */

letter-spacing: 1px;

/* dark-gray-2 */

color: #474747;
}