.headerBase{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    height: 192px;
    width: 1440px;
}
.actionsHeader{
    display: flex;
    align-items: flex-end;
    height: 96px;
}
.logo{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0px;
    width: 260px;
    height: 60px;
    padding-left: 58px;
}
.cadastro{
    color:#333;
    width: 102px;
    height: 60px;
    text-align: center;
    padding-top: 1rem;
}
.entrar{
    width: 114px;
    height: 60px;
    text-align: center;
    padding-top: 0.5rem;
}
.carrinho{
    color: #C92071;
    height: 60px;
    text-align: center;
    padding-top: 0.5rem;
}
.navHeader{
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 96px;
    padding-bottom: 20px;
    padding-left: 58px;
}