.mx-2{
    text-decoration: none;
    color: #666;
    background-color: transparent;
}
.mx-2 :hover{
    text-decoration: dashed;
    color: rgb(185, 20, 50);
    background-color: transparent;

}
.home{
    width: 47px;
    height: 28px;
    top: 134px;
    left: 101px;
}
.produto{
    width: 47px;
    height: 28px;
    top: 134px;
    left: 181px;
}
.cat{
    width: 47px;
    height: 28px;
    top: 134px;
    left: 287px;
}
.meus{
    width: 47px;
    height: 28px;
    top: 134px;
    left: 408px;
}